---
layout: default
title: Team Pets
suppress_header: true
extra_css:
  - team.css
---

<div class="wrapper">
  <div class="container">
    <div class="team-head">
      <h1>MEET OUR <b>PETS</b></h1>
    </div>

    <div class="row">
      {% for pet in site.data.pets %}
        <div class="col-sm-4 ">
          <div class="member pet">
            <div class="card">
              <figure class="front">
                <img src="/images/team/pets/{{pet.picture}}" alt="{{pet.name}}" width="200" height="200">
                <h3>{{pet.name}}</h3>
                <p style="padding: 25px;">
                  {{pet.story}}
                </p>
              </figure>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
