<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitLab | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="alternate" type="application/atom+xml" title="Blog" href="/atom.xml" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/glyphicons.css" rel="stylesheet">
    <link href="/stylesheets/base.css" rel="stylesheet">
    <link href="/stylesheets/recurly.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37019925-1', 'auto');
      ga('send', 'pageview');

    </script>
    {% include external_scripts.html %}
    <script src="/javascripts/libs/recurly.min.js"></script>
  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
<!--             <a class="btn btn-primary btn-dropnav" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
 -->            {% if page.blog_index %}
              <a class="navbar-brand" href="/blog/">GitLab Blog</a>
            {% else %}
              <a class="navbar-brand" href="/">GitLab</a>
            {% endif %}
          </div>

          <div class="collapse navbar-collapse" id="main-gl-nav">
            <ul class="nav pull-right animated navbar-nav">
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="/features">Features</a></li>
              <li><a href="/company">Company</a></li>
              <li><a href="/community">Community</a></li>
              <li><a href="/gitlab-ci">GitLab CI</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="https://gitlab.com/users/sign_in">Sign in</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% unless page.suppress_header %}
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
    {% endunless %}

    {{ content }}

    {% include footer.html %}
    {% include google_remarketing.html %}
  </body>
</html>
