---
layout: default
title: Contact
suppress_header: true
extra_css:
  - contact.css
---

<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <a href="/getting-help">
          <img src="/images/icons/about_us.png" alt="Getting Help" id="about">
        </a>
        <h2><a href="/getting-help">Getting Help</a></h2>
        <p>
          We have several resources available such as documentation, FAQs,
          forums, and Issue Trackers to help you with GitLab.
        </p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="/sales">
          <img src="/images/icons/contact_us.png" alt="Contact Us" id="email">
        </a>
        <h2><a href="/sales">Contact Sales</a></h2>
        <p>
          Contact our sales team for any questions about GitLab Enterprise
          Edition. If you have any marketing or PR inquiries, please email
          <a href="mailto:community@gitlab.com">community@gitlab.com</a>.
        </p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="https://twitter.com/gitlab">
          <img src="/images/icons/twitter.png" alt="Twitter" id="twitter">
        </a>
        <h2><a href="https://twitter.com/gitlab">Twitter</a></h2>
        <a href="https://twitter.com/gitlab" class="twitter-follow-button" data-show-count="false">Follow @gitlab</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <p>
          Follow us on Twitter for the most detailed and up-to-date information
          about GitLab.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-4">
        <img src="/images/icons/news.png" alt="Newsletter" id="newsletter">
        <h2>Newsletter</h2>

        <script src="//app-ab13.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_1073"></form>
        <script>


          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1073, function(form) {
              form.onSuccess(function(values, followUpUrl) {

                form.getFormElem().hide();
                document.getElementById('confirmform').style.visibility = 'visible';

                ga('send', 'pageview');
                ga('send', 'event', 'form', 'submit', 'newsletter subscription');
                return false;
              });
          });
        </script>

        <div id="confirmform" style="visibility:hidden;"><p>Thanks for subscribing!</p></div>

        <p class="newsletter-afterword">
          If you subscribe, you will receive our twice-monthly newsletter.
        </p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="/visiting">
          <img src="/images/icons/office.png" alt="Office" id="office">
        </a>
        <h2><a href="/visiting">Visit Our Office</a></h2>
        <p>
          Information about visiting our office in San Francisco, California.
        </p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="/disclosure">
          <img src="/images/icons/security.png" alt="Security" id="security">
        </a>
        <h2><a href="/disclosure">Security</a></h2>
        <p>
          If you want to test the security of GitLab or if you think you have
          found a problem please see our <a href="/disclosure">Responsible
          Disclosure Policy</a>.
        </p>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4 col-md-4">
        <img src="/images/icons/security_newsletter.png" alt="Security Newsletter" id="security-newsletter">
        <h2>Security Notices</h2>

        <form id="mktoForm_1102"></form>
        <script>


          MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1102, function(form) {
              form.onSuccess(function(values, followUpUrl) {

                form.getFormElem().hide();
                document.getElementById('confirmform').style.visibility = 'visible';

                ga('send', 'pageview');
                ga('send', 'event', 'form', 'submit', 'security updates newsletter');
                return false;
              });
          });
        </script>

        <div id="confirmform" style="visibility:hidden;"><p>Thanks for subscribing!</p></div>

        <p class="newsletter-afterword">
          If you subscribe, you will receive notifications about security
          updates.
        </p>
      </div>

      <div class="col-sm-4 col-md-4">
        <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md">
          <img src="/images/icons/website.png" alt="Website" id="website">
        </a>
        <h2><a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md">Website</a></h2>
        <p>
          This website is created from a public repository. If you see a
          potential improvement please
          <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/CONTRIBUTING.md">contribute to this website</a>.
        </p>
      </div>
    </div>
  </div>
</div>
